<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>bluetooth-central</string>
		<string>nearby-interaction</string>
		<string>audio</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app uses speech recognition to allow you to dictate journal entries.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs microphone access to enable speech recognition for dictating journal entries.</string>
</dict>
</plist>
